body{
    margin:0;
    /* padding:0; */
    background-color:rgba(0, 0, 0, 0.793);
}
.navbar{
    height:50px;
    width:100%;
    justify-content:space-between;
    display:flex;
    padding:10px 15px;} 
a{
    color:white;
    text-decoration :none;
}
.left{
     display: flex;
    gap:15px;
    text-decoration:none;
    align-items:center;
    margin-right:1050px;
}
.right{
    display:flex;
    align-items:center;
    /* justify-content:space-evenly; */
     gap:15px; 
    /* display:inline-block; */
    text-decoration:none;
      
}
.flask{
    height:50px;
    width:30px;
    display:flex; 
    /* gap:15px; */
    align-items:center;
    color:white;
}
.profile{
height:50px;
    width:30px;
  display:flex;
    /* gap:15px; */
    align-items:center;
    color:white;
}
.grid{
height:50px;
    width:16px;
    display:flex;
     gap:20px; 
    align-items:center;
    color:white;
}
.op {
    height:50px;
    width:100%;
    display:flex; 
     background-size: cover; 
    /* text-align:center; */
    margin-top:100px;
    justify-content:center; 
}
.box{
    width:600px;
    position:relative; 
     margin: 30px auto;
    }
    /* display:flex;
 justify-content:center; */

.box input{
width:100%;
height:42px;
border-radius:25px;
padding:0 20px;
 
/* display:flex;
justify-content:center; */
/* margin-left:150px; */
}
.box input:hover{
    box-shadow:0 0 10px grey;
}
.mic{
     height:20px;
    position: absolute;
    right:50px;
    top: 50%;
    color:rgba(0, 0, 0, 0.793);;
    transform: translateY(-50%); 
    display:flex;
}
.camera{
    height:20px;
    color:rgba(0, 0, 0, 0.793);;
    position: absolute;
     right:0px; 
     top:50%;
     transform:translateY(-50%); 
    display:flex;
}
.plus{
     height:20px;
    color:black;
    position: absolute;
    right: 577px;
     top:50%;
     transform:translateY(-50%); 
    display:flex;
}
/* for google logo */
h1{
    display:flex;
    justify-content:center;
    font-size:7vw;
    color:white;
}
 .below {
    display:flex;
justify-content:center;
align-items:center;
 /* font: 14px-areal; */
}
.below button{
    justify-content:center;
    align-items:center;
    border:none;
    cursor:pointer;
    border-radius:6%;
    padding:10px 16px; 
    transition:0.4s ease;
}
 /* .below-search button:hover{
    box-shadow:0 0 10px rgba(255, 255, 255, 0.6),
0 0 20px rgba(255, 255, 255, 0.3);
transform: scale(1.05);
justify-content:center;
}  */
 /* for google offered  */
 .push{
    font-size:small;
    display:flex; 
    color:white;
    justify-content: center;
     margin-top:30px; 
 }
 .sp{
    margin-top:250px;
      padding:10px 20px; 
     color:white;
    border-bottom:1px solid #333;
    background-color:black;
    display:flex;
 }
 .bottom{
    display:flex;
    justify-content:space-evenly;
     padding:10px 20px;  
    background-color:black;
     border-bottom:1px solid #333;
 }
  .left a{
   margin-right:15px; 
    color:white;
    display:flex;
  }
  .jax a{
     margin-right:10px; 
    color:white;
    display:flex;
  }